a {
	text-decoration: none ;
}

.header {
	display: grid;
	grid-template-columns: repeat(3, 1fr) ;
	font-family: Montserrat;
	padding: 5px;
	margin-top: 0px ;
	background: #373737 ;
	color: white ;
	opacity: 0.9 ;
}

.logo {
	grid-column: 1/2 ;
}

.menubar {
	padding-top: 15px;
	grid-column: 2/4 ;
}

#mbbb {
	font-size: 13px ;
	padding: 5px;
	text-align: center;
	list-style: none;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
}

.button {
	color: white ;
	list-style: none ;
	padding: 2px ;
}
.button:hover {
	color: grey ;
}

.backg {
	background-image: url(../images/ed.jpg);
	background-size: cover ;
	background-position: fixed ;
	font-family: century gothic ;
	padding: 30px ;
	display: grid ;
	grid-template-columns: repeat(3, 1fr) ;
}

.etitl {
	grid-column: 1/4;
	grid-row: 1/2;
	border-bottom: 5px solid #373737;
	font-size: 25px;
	height: 100px;
	line-height: 1px;
}

.title {
	margin-top:40px; 
	text-align: right ;
	grid-columm: 2/3;
}

.school {
	margin-top: 40px;
	margin-right: 120px; 
	padding-right: 20px;
	grid-column: 3/4 ;
}

.charef {
	font-family: Century gothic ;
	background: #f4f4f4 ;
	padding: 30px;
	display: grid ;
	grid-template-columns: repeat(3, 1fr) ;
}

.tle {
	grid-column: 1/4 ;
	grid-row: 1/2 ;
	border-bottom: 5px solid #373737 ;
	font-size: 25px; 
	height: 100px ;
	line-height: 1px;
}

.jean {
	padding: 20px ;
	margin-top: 50px;
	text-align: left ;
	margin-left: 40px;
	grid-columm: 1/2 ;
	grid-row: 2/3 ;
}

.air {
	padding: 10px;
	margin-top: 50px;
	text-align:left ;
	grid-columm: 2/3 ;
	grid-row: 2/3 ;
}

.Dom {
	padding: 20px;
	margin-top: 50px;
	text-align: left ;
	grid-columm: 3/4 ;
	grid-row: 2/3 ;
}

.charef img {
	border-radius: 50% ;
}
.footer {
	border-top: 3px solid #373737 ;
	font-family: montserrat ;
	font-size: 13px;
	background: #DCD0C0 ; 
	display: grid ;
	grid-gap: 10px ;
	grid-template-columns: repeat(4, 1fr) ;
	padding: 10px ;
}


.no {
	margin-left: 50px ;
	grid-columm: 2/3 ;
}

.accts {
	grid-column: 3/5 ;
}

#social {
	list-style: none;
	display: grid ;
	grid-gap: 0px ;
	grid-template-columns: repeat(13, 1fr) ;
	padding-left: 1px;
}
